.home {
  width: 100%;
  max-width: 100vw;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* margin-left: 10%; 
  margin-right: 10%; */
}

.search input{
  font-family: "Avenir", sans-serif;
  font-size: 45px;
  width: 100%;
  border: none;
  border-bottom: 1.5px solid black;
  outline: none;
}

.search{
  margin: 7%;
  margin-top: 2vh;
  margin-bottom: 1%; 
}

.subhead{
  font-family: "Avenir", sans-serif;
  font-size: 27px;
}

.cart-btn{
  border: 1px solid;
  border-radius: 5px;
  background-color: black;
  color: white; 
  padding: 5px 12px; 
  font-size: 20px;
  cursor: pointer; 
}

.cart-btn:hover{
  text-decoration: underline;
}

.left {
  float: left;
}

.right {
  float:right;
  padding: 30px 2px; 
}

table{
  width: 100%; 
}

i{
  color: black;
}

.categories-menu li{
    display: inline-block;
    padding: 0px 40px;
}

.categories-menu{
  text-align: center;
  vertical-align: middle;
}

.categories-btn{
  border: none; 
  background-color: white;
  font-size: 20px;
  font-family: "Avenir", sans-serif;
}

.categories-btn:hover{
  cursor: pointer;
  /* transition: 0.7s; */
  border-bottom: solid black;
}

.about-contact{
  margin-left: 9%; 
  margin-right: 9%;
  margin-bottom: 2%;
}

.about-section p{ 
  font-size: 20px;
}

.contact-section p{
  font-size: 20px;
}