li a{
    font-family: "Avenir", sans-serif;
    font-size: 25px;
    text-decoration: none; 
    color: black; 
    font-weight: bold;
}

li a:hover{
    color:#47A992 
}

nav {
    display: flex; 
    justify-content: center;
    align-items: center;
    padding: 30px 10%; 
    margin-top: 2%; 
    margin-bottom:2%; 
    /* background-color: lightblue; */
}

.nav-links {
    list-style: none;
  }

.nav-links li{
    display: inline-block;
    padding: 0px 30px; 
}

.logo{
    position:absolute;
    left:6%;
    margin-top: 2%; 
    margin-bottom:2%;
    max-height:90px;
    max-width:90px
}